<div class="container">
	<div class="page-header">
		<div style="width: 320px;">
			<h1>Add Image</h1>
		</div>
		<div ng-controller="LoginController" style="width: 320px; float: right; position: relative; bottom: 70px;">
			<a href="javascript:void(0);" ng-click="logout()">Logout</a>
		</div>
		<div style="clear: both"></div>
	</div>
	
	<form>
		<div class="form-group">
			<label for="title">Image Title:</label>
			<input type="text" class="form-control" id="title">
		</div>
		<div class="form-group">
			<label for="type">Image Type:</label>
			<input type="text" class="form-control" id="type">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div> <!-- /container -->